{{> header}}

{{#if profile}}
	{{> wysiwyg-article}}
	{{> wysiwyg}}
{{else}}
    <article>
        <section>
            <header>
                <h1>{{{article.title}}}</h1>
                <p class="lead">{{{article.teaser}}}</p>
            </header>
            <p>{{{article.text}}}</p>
            <p class="text-muted">{{published}}</p>
            <p class="text-muted">Latest update {{updated}}</p>

				</section>
    </article>

		{{>prism}}

		{{>author}}

		{{>disqus}}
{{/if}}
