{{> header}}

{{#if profile}}
	{{> wysiwyg-article}}
	{{> wysiwyg}}
{{else}}
	<article itemscope itemType="http://schema.org/BlogPosting">
		<header>
			<h1 itemprop="headline">{{{article.title}}}</h1>
			<time datetime="{{datetime article.createdAt}}"
						itemprop="datePublished"
						content="{{article.createdAt}}">
				{{{__ 'Created at'}}}&nbsp;{{formatDate article.createdAt}}
				{{#if article.updatedAt}}, {{__ 'updated at'}}
					&nbsp;{{formatDate article.updatedAt}}{{/if}}
			</time>
			<p class="lead" itemprop="description">
				{{{article.teaser}}}
			</p>
		</header>

		<div itemprop="articleBody">{{{article.text}}}</div>

		{{#if article.image}}
			<figure class="d-print-none">
				<img
					src="{{config.media.images}}{{article.image}}&w=1100"
					lowsrc="{{config.media.images}}{{article.image}}&w=1100&quality=20&blur=20"
					class="img-fluid"
					alt="{{html2text article.title}}">
				<figcaption>{{article.title}}</figcaption>
			</figure>
		{{/if}}

	</article>

	{{>prism}}

	{{>author}}

	{{>disqus}}

{{/if}}
