{{#if profile}}
	{{> wysiwyg-article}}
	{{> wysiwyg}}
{{else}}
	<article itemscope itemType="http://schema.org/BlogPosting">
		<div class="hero is-medium is-primary" id="header">
			<header class="hero-body">
				<div class="container">
					<h1 class="title">
						{{{article.title}}}
					</h1>
					{{#if article.subtitle}}
						<h2 class="subtitle">
							{{{article.subtitle}}}
						</h2>
					{{/if}}
				</div>
			</header>
		</div>
		<div class="section">
			<div class="container">
				<div class="content">
					<time class="is-size-7" datetime="{{datetime article.createdAt}}"
								itemprop="datePublished"
								content="{{article.createdAt}}">
						{{{__ 'Created at'}}}&nbsp;{{formatDate article.createdAt}}
						{{#if article.updatedAt}}, {{__ 'updated at'}}
							&nbsp;{{formatDate article.updatedAt}}{{/if}}
					</time>
					<p class="subtitle" itemprop="description">
						{{{article.teaser}}}
					</p>
				</div>
				<div class="content" itemprop="articleBody">{{{article.text}}}</div>
			</div>
		</div>
	</article>

	{{>prism}}

	<aside>
		<div class="container">
			<div class="content">
				{{>author}}
			</div>
		</div>
	</aside>

	<style>
		@media screen and (max-width: 768px) {
			.hero-image {
				background-image: url(https://zimage.global.ssl.fastly.net/?url=http://development-cdn.andrelademann.de/{{article.image}}&w=768&h=198&mode=crop);
			}
		}
		@media screen and (max-width: 1023px) {
			.hero-image {
				background-image: url(https://zimage.global.ssl.fastly.net/?url=http://development-cdn.andrelademann.de/{{article.image}}&w=1023&h=263&mode=crop);
			}
		}
		@media screen and (min-width: 1024px) {
			.hero-image {
				background-image: url(https://zimage.global.ssl.fastly.net/?url=http://development-cdn.andrelademann.de/{{article.image}}&w=1260&h=325&mode=crop);
			}
		}
		@media screen and (min-width: 1216px) {
			.hero-image {
				background-image: url(https://zimage.global.ssl.fastly.net/?url=http://development-cdn.andrelademann.de/{{article.image}}&w=1408&h=365&mode=crop);
			}
		}
		@media screen and (min-width: 1408px) {
			.hero-image {
				background-image: url(https://zimage.global.ssl.fastly.net/?url=http://development-cdn.andrelademann.de/{{article.image}}&w=2000&h=515&mode=crop);
			}
		}
	</style>
	<script>
		window.onload = function () {
			document.getElementById('header').className = document.getElementById('header').className + ' hero-image';
		};
	</script>
{{/if}}
