{{> header}}

{{#if profile}}
	{{> wysiwyg-article}}
	{{> wysiwyg}}
{{else}}
	<article id="content" itemscope itemType="http://schema.org/BlogPosting">
		<header>
			<h1 itemprop="headline">{{{article.title}}}</h1>
			<time datetime="{{datetime article.createdAt}}"
						class="text-muted"
						itemprop="datePublished"
						content="{{article.createdAt}}">
				{{{__ 'Created at'}}}&nbsp;{{formatDate article.createdAt}}
				{{#if article.updatedAt}}, {{__ 'updated at'}}
					&nbsp;{{formatDate article.updatedAt}}{{/if}}
			</time>
			<p class="lead" itemprop="description">
				{{{article.teaser}}}
			</p>
		</header>

		{{#if article.image}}
			<figure>
				<img src="{{config.media.cdn}}{{article.image}}" alt="{{html2text article.title}}" class="img-fluid">
				<figcaption>{{article.title}}</figcaption>
			</figure>
		{{/if}}

		<div itemprop="articleBody">{{{article.text}}}</div>

	</article>

	{{>prism}}

	{{>social/get-social}}

	{{>author}}

	{{>disqus}}

{{/if}}
