{{> header}}

{{#if profile}}
	{{> wysiwyg-article}}
	{{> wysiwyg}}
{{else}}
    <article>
        <section>
            <header>
                <h1>{{{article.title}}}</h1>
                <time datetime="{{article.createdAt}}" class="text-muted">
									{{{__ 'Created at'}}}&nbsp;{{formatDate article.createdAt}}
									{{#if article.updatedAt}}, {{__ 'updated at'}}&nbsp;{{formatDate article.updatedAt}}{{/if}}
                </time>
                <p class="lead">{{{article.teaser}}}</p>
            </header>
            <p>{{{article.text}}}</p>
        </section>
    </article>

		{{>prism}}

		{{>author}}

		{{>disqus}}
{{/if}}
