{{> header}}

{{#unless profile}}
	{{> article-teaser this}}
{{/unless}}

<section>
	{{#each (limit articles 60)}}
		<div class="jumbotron">
			{{#if profile}}
				{{> toolbar-edit slug="articles"}}
			{{/if}}
			<div class="row marketing">
				<div class="col-lg-6">
					<h2><a href="/articles/{{slug title}}/">{{{title}}}</a></h2>
					<time datetime="{{datetime createdAt}}">
						<small class="text-muted">{{formatRelative createdAt}}</small>
					</time>
					<p>{{{crop teaser limit=750}}}</p>
				</div>
				<div class="col-lg-6">
					<a href="/articles/{{slug title}}/">
						{{#if image}}
							<amp-img src="{{../config.media.images}}{{image}}?w=600&h=338&mode=crop" class="img-fluid"
									 alt="{{html2text title}}">
						{{/if}}
					</a>
				</div>
			</div>
		</div>
	{{/each}}
</section>

{{#if profile}}
	{{> toolbar-list section="articles"}}
{{/if}}
