<div class="card-deck mb-4">
	{{#each (limit articles 3)}}
		<div class="card">
			<a href="/articles/{{slug title}}/" class="card-link">
				{{#if image}}
					{{> picture src=image config=../config class="img-fluid img-rounded" crop=true alt=title title=title }}
				{{else}}
					<img src="/img/content/1200/feed_ship.jpg" alt="{{title}}" class="card-img-top">
				{{/if}}
			</a>
			<div class="card-body">
				<p class="card-title h5" title="{{title}}">{{crop title limit="60"}}</p>
				<p class="card-text">{{{crop teaser limit="140"}}}</p>
				<a href="/articles/{{slug title}}/" class="card-link">{{__ "Read more"}} …</a>
				<p class="card-text">
					<time datetime="{{datetime createdAt}}">
						<small class="text-muted">{{formatRelative createdAt}}</small>
					</time>
				</p>
			</div>
		</div>
	{{/each}}
</div>
