<div class="card-deck-wrapper">
	<div class="card-deck">
		{{#each (limit articles 3)}}
			<div class="card">
				<a href="/articles/{{slug title}}/" class="card-link">
					{{#if image}}
						<img class="card-img-top img-fluid"
								 src="{{../config.media.images}}{{image}}?w=400&h=300&mode=crop"
								 alt="{{html2text title}}" title="{{html2text title}}">
					{{else}}
						<img src="/img/content/1200/feed_ship.jpg" alt="{{title}}" class="img-fluid">
					{{/if}}
				</a>
				<div class="card-block">
					<p class="h4 card-title" title="{{title}}">{{crop title limit="60"}}</p>
					<p class="card-text">{{{crop teaser limit="140"}}}</p>
					<a href="/articles/{{slug title}}/" class="card-link">{{__ "Read more"}} …</a>
					<p class="card-text">
						<time datetime="{{datetime createdAt}}">
							<small class="text-muted">{{formatRelative createdAt}}</small>
						</time>
					</p>
				</div>
			</div>
		{{/each}}
	</div>
</div>
