<div class="card-deck mb-4">
	{{#each (limit articles 3)}}
		<div class="card">
			<a href="/articles/{{slug title}}/" class="card-link">
				{{#if image}}
					<img class="card-img-top"
							 src="{{../config.media.images}}{{image}}?w=400&h=300&mode=crop"
							 lowsrc="{{../config.media.images}}{{image}}?w=400&h=300&mode=crop&quality=1"
							 alt="{{html2text title}}" title="{{html2text title}}">
				{{else}}
					<img src="/img/content/1200/feed_ship.jpg" alt="{{title}}" class="card-img-top">
				{{/if}}
			</a>
			<div class="card-body">
				<p class="card-title h5" title="{{title}}">{{crop title limit="60"}}</p>
				<p class="card-text">{{{crop teaser limit="140"}}}</p>
				<a href="/articles/{{slug title}}/" class="card-link">{{__ "Read more"}} …</a>
				<p class="card-text">
					<time datetime="{{datetime createdAt}}">
						<small class="text-muted">{{formatRelative createdAt}}</small>
					</time>
				</p>
			</div>
		</div>
	{{/each}}
</div>
