{{#if expressFlash}}
	<div class="message is-{{expressFlash.type}}" role="alert">
		<div class="message-header">
			<p>{{expressFlash.type}}</p>
			<button class="delete" aria-label="delete"
							onclick="this.parentNode.parentNode.className += ' is-hidden'"></button>
		</div>
		<div class="message-body">
			{{ expressFlash }}
		</div>
	</div>
{{/if}}

{{#if flash.error}}
	{{# if flash.type}}
		<div class="message is-{{flash.type}}" role="alert">
			<div class="message-header">
				<span class="is-capitalized">{{flash.type}}</span>
				<button class="delete" aria-label="delete"
								onclick="this.parentNode.parentNode.className += ' is-hidden'"></button>
			</div>
			<div class="message-body">
				{{ flash.error }}
			</div>
		</div>
	{{else}}
		<div class="message is-warning" role="alert">
			<div class="message-header">
				<span class="is-capitalized">{{ __ "Warning" }}</span>
				<button class="delete" aria-label="delete"
								onclick="this.parentNode.parentNode.className += ' is-hidden'"></button>
			</div>
			<div class="message-body">
				{{ flash.error }}
			</div>
		</div>
	{{/if}}
{{/if}}
