<nav>
	<ul class="pagination pagination-sm">
		{{#paginate pagination type="first"}}
			<li class="page-item{{#if disabled}} disabled{{/if}}">
				<a href="?p={{n}}" aria-label="Previous" class="page-link">
					<span aria-hidden="true">⇤</span>
					<span class="sr-only">{{{__ 'First'}}}</span>
				</a>
			</li>
		{{/paginate}}
		{{#paginate pagination type="previous"}}
			<li class="page-item{{#if disabled}} disabled{{/if}}">
				<a href="?p={{n}}" class="page-link">
					<span aria-hidden="true">←</span>
					<span class="sr-only">{{{__ 'Previous'}}}</span>
				</a>

			</li>
		{{/paginate}}
		{{#paginate pagination type="middle" limit="5"}}
			<li class="page-item{{#if active}} active{{/if}} ">
				<a href="?p={{n}}" class="page-link">{{n}}</a>
			</li>
		{{/paginate}}
		{{#paginate pagination type="next"}}
			<li class="page-item{{#if disabled}} disabled{{/if}}">
				<a href="?p={{n}}" class="page-link">
					<span aria-hidden="true">→</span>
					<span class="sr-only">{{{__ 'Next'}}}</span>
				</a>
			</li>
		{{/paginate}}
		{{#paginate pagination type="last"}}
			<li class="page-item{{#if disabled}} disabled{{/if}}">
				<a class="page-link" href="?p={{n}}" aria-label="Next">
					<span aria-hidden="true">⇥</span>
					<span class="sr-only">{{{__ 'Last'}}}</span>
				</a>
			</li>
		{{/paginate}}
	</ul>
</nav>
