<nav class="navbar navbar-fixed-bottom navbar-light bg-faded">
    <ul class="nav navbar-nav container">
        <li class="nav-item{{#compare "status" "published"}} active{{/compare}}">
            <a class="nav-link"
               href="/{{section}}/status/published">
                Published
            </a>
        </li>
        <li class="nav-item{{#compare "status" "draft"}} active{{/compare}}">
            <a class="nav-link"
               href="/{{section}}/status/draft">
                Draft
            </a>
        </li>
        <li class="nav-item{{#compare "status" "deleted"}} active{{/compare}}">
            <a class="nav-link text-danger"
               href="/{{section}}/status/deleted">
                Deleted
            </a>
        </li>
        <li class="nav-item pull-xs-right">
            <div class="form-inline pull-xs-right">
                <a class="btn btn-outline-primary" href="/{{section}}/add">Add
                    new {{title}}</a>
            </div>
        </li>
    </ul>
</nav>
