<article>
	<form
		action="/articles/{{#if article}}edit/{{article._id}}{{else}}add{{/if}}"
		method="post">

		<input type="hidden" name="image" value="{{article.image}}" id="image">

		<section class="hero is-primary" id="header">
			<div class="hero-body">
				<div class="container">
					<h1 id="title"
							class="wysiwyg-plain title">{{{article.title}}}</h1>
					<h2 id="subtitle"
							class="wysiwyg-plain subtitle">{{{article.subtitle}}}</h2>
				</div>
			</div>
		</section>

		<section class="hero is-dark is-shadow-top" id="meta-data" style="display:none">
			<div class="hero-body">
				<div class="container">
					<p class="is-size-4">{{__ "Meta-Data"}}</p>

					<div class="field">
						<label class="col-sm-2">{{__ "Index"}}</label>
						<div class="control">

						</div>
						<label class="checkbox">
							<input type="checkbox" id="index" name="index"
										 {{#if article.meta.index}}checked{{/if}}>
							{{__ "Index that"}}
						</label>
					</div>

					<div class="field">
						<label class="label">{{__ "Description"}}</label>
						<div class="control">
							<textarea class="textarea"
												type="text"
												rows="2"
												placeholder="{{ __ "Meta description (Max 120 chars)" }}"
												maxlength="120"
												id="description"
												name="description">{{{article.meta.description}}}</textarea>
						</div>
					</div>

					<div class="field">
						<label class="label">{{__ "Keywords"}}</label>
						<div class="control">
							<textarea class="textarea"
												type="text"
												rows="2"
												placeholder="{{ __ "Meta keywords (Max 120 chars)" }}"
												maxlength="120"
												id="keywords"
												name="keywords">{{{article.meta.keywords}}}</textarea>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="container">
				<p id="teaser" class="content is-size-5 wysiwyg-plain">{{{article.teaser}}}</p>
				<div class="wysiwyg content" id="text">{{{article.text}}}</div>
			</div>
		</section>
		{{> toolbar-edit }}
	</form>

	<div class="section">
		<div class="container">
			<div class="box">
				<div class="media">
					{{#if article.image}}
						{{> image-background image=article.image config=config}}
						<div class="media-left">
							<img src="{{config.media.images}}{{article.image}}&w=128&h=128&mode=crop"
									 lowsrc="{{config.media.images}}{{article.image}}&w=128&h=128&mode=crop&quality=1"
									 class="image is-64x64" id="fileOriginalPreview"
									 alt="{{html2text title}}">
						</div>
					{{/if}}

					<div class="media-content">
						<div class="content" id="openGraph">
							<p>
								<strong>{{__ "Picture"}}</strong>
								<small class="is-info">{{config.media.cdn}}{{article.image}}</small>
							</p>
							{{> form/dropzone this file="image" name="title" }}
						</div>
						<nav class="level is-mobile">
							<div class="level-left">
								<a class="level-item is-large" id="dropzone-trash">
									<span class="icon is-large"><i class="fa fa-trash"></i></span>
								</a>
							</div>
						</nav>
					</div>

				</div>
			</div>
		</div>
	</div>
</article>
