<form action="/articles/{{#if article}}edit/{{article._id}}{{else}}add{{/if}}" method="post">

    <nav class="navbar bg-faded">
        <ul class="nav navbar-nav">
            <li class="nav-item pull-xs-right">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-outline-primary{{#if article.state}}{{#compare article.state "draft"}} active{{/compare}}{{else}} active{{/if}}">
                        <input type="radio" name="state" id="draft" value="draft"
                               autocomplete="off"{{#if article.state}}{{#compare article.state "draft"}}
                               checked{{/compare}}{{else}} checked{{/if}}>
                        Draft
                    </label>
                    <label class="btn btn-outline-danger{{#compare article.state "deleted"}} active{{/compare}}">
                        <input type="radio" name="state" id="deleted"
                               value="deleted"
                               autocomplete="off"{{#compare article.state "deleted"}}
                               checked{{/compare}}>
                        Deleted
                    </label>
                    <label class="btn btn-outline-success{{#compare article.state "published"}} active{{/compare}}">
                        <input type="radio" name="state" id="published"
                               value="published"
                               autocomplete="off"{{#compare article.state "published"}}
                               checked{{/compare}}>
                        Published
                    </label>
                </div>
            </li>
        </ul>
    </nav>

    <article>
        <section>
            <header>
                <h1 id="title" class="wysiwyg-plain">{{{article.title}}}</h1>
                <p id="teaser" class="lead wysiwyg-plain">{{{article.teaser}}}</p>
            </header>
            <div class="wysiwyg" id="text">{{{article.text}}}</div>
        </section>
    </article>

    <nav class="navbar navbar-fixed-bottom navbar-light bg-faded">
        <div class="container">
            <ul class="nav navbar-nav pull-xs-right">
                <li class="nav-item">
                    <a href="javascript:if(confirm('Realy?')) history.back()" class="btn btn-outline-danger">Cancel</a>
                </li>
                <li class="nav-item">
                    <button type="submit"
                            class="btn btn-outline-primary pull-xs-right"
                            role="button">
											{{#if article}}Edit{{else}}Add{{/if}}
                    </button>
                </li>
            </ul>
        </div>
    </nav>

</form>
