<form
	action="/articles/{{#if article}}edit/{{article._id}}{{else}}add{{/if}}"
	method="post">

	<nav class="navbar bg-faded">
		<ul class="nav navbar-nav">
			<li class="nav-item pull-xs-right">
				<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-outline-primary{{#if article.state}}{{#compare article.state
																																							 "draft"}} active{{/compare}}{{else}} active{{/if}}">
						<input type="radio" name="state" id="draft" value="draft"
									 autocomplete="off"{{#if article.state}}{{#compare article.state "draft"}}
									 checked{{/compare}}{{else}} checked{{/if}}>
						{{__ "Draft"}}
					</label>
					<label class="btn btn-outline-danger{{#compare article.state "deleted"}} active{{/compare}}">
						<input type="radio" name="state" id="deleted"
									 value="deleted"
									 autocomplete="off"{{#compare article.state "deleted"}}
									 checked{{/compare}}>
						{{__ "Deleted"}}
					</label>
					<label class="btn btn-outline-success{{#compare article.state "published"}} active{{/compare}}">
						<input type="radio" name="state" id="published"
									 value="published"
									 autocomplete="off"{{#compare article.state "published"}}
									 checked{{/compare}}>
						{{__ "Published"}}
					</label>
				</div>
			</li>
		</ul>
	</nav>

	<article id="accordion" role="tablist" aria-multiselectable="true">
		<section class="panel panel-default">
			<div class="panel-heading" role="tab">
				<p class="panel-title h3">
					{{__ "Content"}}
				</p>
			</div>
			<div id="content" class="pane" aria-labelledby="Main content aria">
				<header>
					<h1 id="title" class="wysiwyg-plain">{{{article.title}}}</h1>
					<p id="teaser" class="lead wysiwyg-plain">{{{article.teaser}}}</p>
				</header>
				<div class="wysiwyg" id="text">{{{article.text}}}</div>
			</div>
		</section>

		<hr>

		<section class="panel panel-default">
			<div class="panel-heading" role="tab">
				<p class="panel-title h3">
					{{__ "Meta-Data"}}
				</p>
			</div>
			<div id="metaData" class="panel" aria-labelledby="Meta data">
				<div class="form-group row">
					<label class="col-sm-2">{{__ "Index"}}</label>
					<div class="col-sm-10">
						<div class="form-check">
							<label class="form-check-label">
								<input type="checkbox" class="form-check-input" id="index" name="index"
											 {{#if article.meta.index}}checked{{/if}}>
								{{__ "Index that"}}
							</label>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label for="description" class="col-xs-2 col-form-label">{{__ "Description"}}</label>
					<div class="col-xs-10">
							<textarea class="form-control"
												placeholder="Meta description (Max 120 chars)"
												maxlength="120"
												id="description"
												name="description">{{{article.meta.description}}}</textarea>
					</div>
				</div>
				<div class="form-group row">
					<label for="description" class="col-xs-2 col-form-label">{{__ "Keywords"}}</label>
					<div class="col-xs-10">
						<input class="form-control"
									 type="text"
									 maxlength="120"
									 placeholder="Meta keywords"
									 value="{{{article.meta.keywords}}}"
									 id="keywords"
									 name="keywords">
					</div>
				</div>
			</div>
		</section>

		<input type="hidden" name="image" value="{{article.image}}" id="image">

	</article>

	<nav class="navbar navbar-fixed-bottom navbar-light bg-faded">
		<div class="container">
			<ul class="nav navbar-nav pull-xs-right">
				<li class="nav-item">
					<a href="javascript:if(confirm('Realy?')) history.back()" id="cancel" class="btn btn-outline-danger">
						<i class="fa fa-ban" aria-hidden="true"></i>&nbsp;{{__ "Cancel"}}</a>
				</li>
				<li class="nav-item">
					<button type="submit"
									id="submit"
									class="btn btn-outline-primary pull-xs-right"
									role="button">
						{{#if article}}
							<i class="fa fa-pencil" aria-hidden="true"></i>
							<span class="hidden-sm-down">&nbsp;{{__ "Edit"}}</span>
						{{else}}
							<i class="fa fa-plus" aria-hidden="true"></i>
							<span class="hidden-sm-down">&nbsp;{{__ "Add"}}</span>
						{{/if}}
					</button>
				</li>
			</ul>
		</div>
	</nav>

</form>

<section class="panel panel-default">
	<div class="panel-heading" role="tab" id="og">
		<p class="panel-title h3">
			Open Graph
		</p>
	</div>
	<div id="openGraph" class="panel" aria-labelledby="Open Graph">
		<div class="form-group row">
			<label class="col-sm-2">{{__ "Picture"}}</label>
			<div class="col-sm-10">
				{{#if article.image}}
					<figure id="fileOriginalPreview">
						<img src="{{config.media.images}}{{article.image}}?w=200&h=200&mode=crop" class="img-fluid img-rounded"
								 alt="{{html2text title}}">
						<figcaption class="text-muted">{{config.media.images}}{{article.image}}</figcaption>
					</figure>
				{{/if}}

				{{> form/dropzone this file="image" name="title" }}
			</div>
		</div>
	</div>
</section>
