<section class="profile">
	<h1>
		{{{__ "Personal data"}}}
	</h1>

	{{>flash}}

	<h2>
		{{{__ "Your data"}}}
	</h2>

	<div class="list-group">
		<div class="list-group-item list-group-item-action flex-column align-items-start">
			<div class="d-flex w-100 justify-content-between">
				<p class="mb-1">{{profile.lastname}}</p>
				<small>{{{__ "Last name"}}}</small>
			</div>
		</div>
		<div class="list-group-item list-group-item-action flex-column align-items-start">
			<div class="d-flex w-100 justify-content-between">
				<p class="mb-1">{{profile.firstname}}</p>
				<small>{{{__ "First name"}}}</small>
			</div>
		</div>
		<div class="list-group-item list-group-item-action flex-column align-items-start">
			<div class="d-flex w-100 justify-content-between">
				<p class="mb-1">{{profile.email}}</p>
				<small class="text-muted">{{{__ "e-mail"}}}</small>
			</div>
		</div>
		<div class="list-group-item list-group-item-action flex-column align-items-start">
			<div class="d-flex w-100 justify-content-between">
				<p class="mb-1">
					{{#compare proffile.state "m"}}{{{__ "male"}}}{{/compare}}
					{{#compare proffile.state "f"}}{{{__ "female"}}}{{/compare}}
				</p>
				<small class="text-muted">{{{__ "Gender"}}}</small>
			</div>
		</div>
		<div class="list-group-item list-group-item-action flex-column align-items-start">
			<div class="d-flex w-100 justify-content-between">
				<p class="mb-1">
					<time datetime="{{datetime profile.createdAt}}"
								class="text-muted"
								itemprop="datePublished"
								content="{{profile.createdAt}}">{{formatDate profile.createdAt}}
					</time>
				</p>
				<small class="text-muted">{{{__ "Created at"}}}</small>
			</div>
		</div>
	</div>
</section>

{{#unless ENV_DEVELOPMENT}}
	<script>
		mixpanel.track('User profile');
		mixpanel.identify('{{profile._id}}');
		mixpanel.people.set({
			'$first_name': '{{profile.firstname}}',
			'$last_name':  '{{profile.lastname}}',
			'$created':    '{{profile.createdAt}}',
			'$email':      '{{profile.email}}'
		});
	</script>
{{/unless}}
