<section class="profile" id="content">
	<header class="row">
		<div class="col-md-12">
			<h2 class="">
				{{{__ "Personal data"}}}
			</h2>
		</div>
	</header>

	{{>flash}}

	<section class="row">
		<h3 class="col-xs-12 clearfix">
			{{{__ "Your data"}}}
		</h3>
		<div class="col-xs-12 col-md-3">
			<div class="clearfix">
				<span>
					{{profile.gender}}&nbsp;{{profile.firstname}}
					&nbsp;{{profile.lastname}}
				</span>
			</div>
		</div>
	</section>

</section>

<script>
	mixpanel.track('User profile');
	mixpanel.identify('{{profile._id}}');
	mixpanel.people.set({
		'$first_name': '{{profile.firstname}}',
		'$last_name':  '{{profile.lastname}}',
		'$created':    '{{profile.createdAt}}',
		'$email':      '{{profile.email}}'
	});
</script>
