<section class="hero is-primary">
	<div class="hero-body">
		<div class="container">
			<h1 class="title">{{{__ "Personal data"}}}</h1>
			<h2>{{{__ "Your data"}}}</h2>
		</div>
	</div>
</section>

<div class="section">
	<div class="container">
		{{>flash}}
		<div class="content">

			{{>flash}}

			<table>
				<thead>
				<tr>
					<th>{{ __ "Key" }}</th>
					<th>{{ __ "Value" }}</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>{{{__ "Last name"}}}</td>
					<td>{{profile.lastname}}</td>
				</tr>
				<tr>
					<td>{{{__ "First name"}}}</td>
					<td>{{profile.firstname}}</td>
				</tr>
				<tr>
					<td>{{{__ "e-mail"}}}</td>
					<td>{{profile.email}}</td>
				</tr>
				<tr>
					<td>{{{__ "Gender"}}}</td>
					<td>
						{{#compare profile.gender "m"}}{{{__ "male"}}}{{/compare}}
						{{#compare profile.gender "f"}}{{{__ "female"}}}{{/compare}}
					</td>
				</tr>
				<tr>
					<td>{{{__ "Created at"}}}</td>
					<td>
						<time datetime="{{datetime profile.createdAt}}"
									class="text-muted"
									itemprop="datePublished"
									content="{{profile.createdAt}}">{{formatDate profile.createdAt}}
						</time>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

{{#unless ENV_DEVELOPMENT}}
	<script>
		mixpanel.track('User profile');
		mixpanel.identify('{{profile._id}}');
		mixpanel.people.set({
			'$first_name': '{{profile.firstname}}',
			'$last_name':  '{{profile.lastname}}',
			'$created':    '{{profile.createdAt}}',
			'$email':      '{{profile.email}}'
		});
	</script>
{{/unless}}
