<label for="{{id}}">{{label}}</label>
<div class="radio">
    <label class="btn btn-primary btn-file">
        Browse {{label}} <input type="file" id="{{id}}" name="{{id}}"
                                style="display: none">
    </label>
    <div id="{{id}}-holder"></div>
</div>
<script>
    var ${{id}}Holder = $('#{{id}}-holder');
    $('#{{id}}').on('change', function () {
        ${{id}}Holder.empty();
        var reader = new FileReader();
        reader.onload = function (e) {
            $('<img />', {
                'src': e.target.result,
                'style': 'width: 200px',
                'class': 'img-thumbnail'
            }).appendTo(${{id}}Holder);
        };
        reader.readAsDataURL($(this)[0].files[0]);
    });
</script>
