<h2>{{title}}</h2>

{{> pagination}}

{{#each (limit articles 3)}}
    <div class="jumbotron">
        <div class="row marketing">
            <div class="col-lg-6">
                <h2><a href="{{url}}">{{title}}</a></h2>
                <p>{{crop text}}</p>
            </div>
            <div class="col-lg-6">
                <img src="http://lorempixel.com/900/400/sports/2" class="img-fluid">
            </div>
        </div>
    </div>
{{/each}}


<div class="card-deck-wrapper">
    <div class="card-deck">
      {{#each (limit articles 3)}}
          <div class="card">
              <img class="card-img-top img-fluid" src="https://c3.staticflickr.com/2/1711/26558282962_0b2edbdd1f_h.jpg"
                   alt="{{title}}" title="{{title}}">
              <div class="card-block">
                  <h4 class="card-title">{{title}}</h4>
                  <p class="card-text">{{{crop text}}}</p>
                  <a href="{{url}}" class="card-link">Card link</a>
                  <p class="card-text">
                      <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
              </div>
          </div>
      {{/each}}
    </div>
</div>
