<div class="row">
    <div class="col-lg-12">
        <h2>{{title}}</h2>

        <h3><a href="article/{{_id}}">{{article.title}}</a></h3>
        <p>{{article.teaser}}</p>
        <p>{{{article.text}}}</p>
    </div>
</div>
