<h2>{{title}}</h2>

<div class="jumbotron">
  {{#each articles}}
      <div class="row marketing">
          <div class="col-lg-6">
              <h4><a href="{{url}}">{{title}}</a></h4>
              <p>{{{crop text 200}}}</p>
              <img src="https://c7.staticflickr.com/2/1566/26552662222_93b6e0cce0_s.jpg" alt="André Lademann"
                   class="img-circle">
          </div>
      </div>
  {{/each}}
</div>


<hr>
<div class="row">
  {{#each articles}}
      <div class="col-sm-6">
          <div class="card card-block">
              <h4 class="card-title">{{title}}</h4>
              <p class="card-text"> {{{crop text}}}</p>
              <a href="{{url}}" class="card-link">Card link</a>
          </div>
      </div>
  {{/each}}
</div>

<hr>

<div class="media">
    <div class="media-left media-bottom">
        <a href="#">
            <img src="https://c7.staticflickr.com/2/1566/26552662222_93b6e0cce0_s.jpg" alt="André Lademann"
                 class="img-circle">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">André Lademann</h4>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras
            purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
            fringilla. Donec lacinia congue felis in faucibus.</p>
        <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et
            magnis dis parturient montes, nascetur ridiculus mus.</p>
    </div>
</div>
