<h2>{{title}}</h2>

{{> pagination}}

{{#each (limit articles 60)}}
    <div class="jumbotron">
        <div class="row marketing">
            <div class="col-lg-6">
                <h2><a href="{{url}}">{{title}}</a></h2>
                <p>{{crop text}}</p>
            </div>
            <div class="col-lg-6">
                <img src="//c1.staticflickr.com/2/1524/26726054816_427856b51a_n.jpg" class="img-fluid">
            </div>
        </div>
    </div>
{{/each}}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-3">New Article</h1>
            <p class="lead">Add a new article.</p>
            <hr class="m-y-2">

            <form action='/articles/add' method='post'>
                <fieldset class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Your title (required)"
                           required="required">
                </fieldset>
                <fieldset class="form-group">
                    <label for="url">URL</label>
                    <input type="url" class="form-control" id="url" name="url" placeholder="http://yoururl.org">
                </fieldset>
                <fieldset class="form-group">
                    <label for="text">Text</label>
                    <textarea class="form-control wysiwygTiny" name="text" id="text" rows="5"></textarea>
                </fieldset>
                <p class="lead">
                    <button type="submit" class="btn btn-primary btn-md pull-xs-right" role="button">Send</button>
                </p>
            </form>
        </div>
    </div>
</div>


<div class="card-deck-wrapper">
    <div class="card-deck">
      {{#each (limit articles 3)}}
          <div class="card">
              <img class="card-img-top img-fluid" src="https://c3.staticflickr.com/2/1711/26558282962_0b2edbdd1f_h.jpg"
                   alt="{{title}}" title="{{title}}">
              <div class="card-block">
                  <h4 class="card-title">{{title}}</h4>
                  <p class="card-text">{{{crop text}}}</p>
                  <a href="{{url}}" class="card-link">Card link</a>
                  <p class="card-text">
                      <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
              </div>
          </div>
      {{/each}}
    </div>
</div>

{{> wysiwyg}}
