{{> header}}

{{#if user}}
    <div class="alert alert-success" role="alert">
        <p><strong>Welcome!</strong> {{user.username}}</p>
    </div>
    <p>
        ID: {{ user._id }}<br/>
        Username: {{ user.username }}<br/>
        Name: {{ user.displayName }}<br/>
    </p>
    <a href="/user//logout">Log out</a>
{{else}}
    <a href="/user/login" class="btn btn-primary">User login</a>
{{/if}}


