{{> header}}

{{> flash}}

{{#if user}}
    <h2>Welcome {{user.username}}!</h2>
    <p>
        ID: {{ user._id }}<br/>
        Username: {{ user.username }}<br/>
        Nickname: {{ user.nickname }}<br/>
        Password: {{ user.password }}<br/>
    </p>
    <a href="/user//logout">Log out</a>
{{else}}
    <a href="/user/login" class="btn btn-primary">User login</a>
{{/if}}
