{{> header}}

<div class="row">
	<section class="col-md-12">
		<h2>{{{weather.0.location.name}}}</h2>
		<p class="h3">{{{weather.0.current.temperature}}} °C, {{{weather.0.current.skytext}}}</p>
		{{#each weather.0.forecast}}
			<div class="row row-teaser teaser-charts teaser-charts-weather">
				<div class="col-sm-2 col-default-3 condition-icon">
					<img src="http://blob.weather.microsoft.com/static/weather4/de/law/{{skycodeday}}.gif"
							 alt="{{html2text skytextday}}"
							 class="img-responsive">
				</div>
				<div class="col-sm-10 col-default-9">
					<div class="row">
						<div class="col-sm-5 col-xs-6 temperature-condition">
							<p class="h3">{{low}}
								<small>{{{__ "up to"}}}</small> {{high}}°C
							</p>
							<p class="headline-xs">{{skytextday}}</p>
						</div>
						<div class="col-sm-7 col-xs-6">
							<p class="h3">{{day}}, {{date}}</p>
							<p class="headline-xs"></p>
							{{#if precip}}
								<em>{{{__ "Possibility of precipitation"}}} {{precip}}%</em>
							{{else}}
								<em>{{{__ "No chance of rain."}}}</em>
							{{/if}}
						</div>
					</div>
				</div>
			</div>
		{{/each}}
	</section>
</div>
