<!doctype html>
<html lang="{{local}}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{title}}</title>
	<style>.img-fluid {
		max-width: 100%;
		height: auto
	}

	body {
		font-family: "Helvetica Neue", open-sans, Arial, sans-serif;
		font-weight: 100
	}</style>
	<style>.navbar, html {
		background-color: #fff
	}

	.sr-only {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		white-space: nowrap;
		clip-path: inset(50%);
		border: 0
	}

	body, html {
		margin: 0;
		padding: 0
	}

	button {
		margin: 0
	}

	html {
		box-sizing: border-box;
		font-size: 16px;
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		min-width: 300px;
		overflow-x: hidden;
		overflow-y: scroll;
		text-rendering: optimizeLegibility;
		text-size-adjust: 100%
	}

	*, :after, :before {
		box-sizing: inherit
	}

	body, button {
		font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
	}

	body {
		color: #4a4a4a;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5
	}

	a {
		color: #3273dc;
		text-decoration: none
	}

	span {
		font-style: inherit;
		font-weight: inherit
	}

	.container {
		margin: 0 auto;
		position: relative
	}

	.navbar {
		min-height: 3.25rem;
		position: relative
	}

	.navbar-brand {
		align-items: stretch;
		display: flex;
		flex-shrink: 0;
		min-height: 3.25rem
	}</style>

	{{#if profile}}
		<link rel="stylesheet" href="/css/admin{{#unless ENV_DEVELOPMENT}}.min{{/unless}}.css">
	{{/if}}
	<link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/img/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">

	<noscript>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/css/screen{{#unless ENV_DEVELOPMENT}}.min{{/unless}}.css" media="screen">
		<link rel="stylesheet" href="/css/print{{#unless ENV_DEVELOPMENT}}.min{{/unless}}.css" media="print">
	</noscript>
	<link rel="preload"
				href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
				as="style"
				onload="this.rel='stylesheet'">
	<link rel="preload"
				href="/css/print{{#unless ENV_DEVELOPMENT}}.min{{/unless}}.css"
				media="print"
				as="style"
				onload="this.rel='stylesheet'">
	<link rel="preload"
				href="/css/screen{{#unless ENV_DEVELOPMENT}}.min{{/unless}}.css"
				media="screen"
				as="style"
				onload="this.rel='stylesheet'">
	{{#if admin}}
		<meta name="robots" content="noindex">
	{{else}}
		<meta name="robots" content="{{#if robots.current}}index{{else}}noindex{{/if}}{{#if
			robots.follow}}, follow{{else}}, nofollow{{/if}}">
	{{/if}}
	<meta name="msapplication-TileColor" content="#fffff">
	<meta name="msapplication-TileImage" content="/img/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	{{#if meta.keywords}}
		<meta name="keywords" content="{{meta.keywords}}">
	{{/if}}
	{{#if meta.description}}
		<meta name="description" content="{{meta.description}}">
	{{/if}}
	{{> social/opengraph this}}
	{{> social/twitter this}}

	{{#unless ENV_DEVELOPMENT}}
		<script>(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({
					'gtm.start':
						new Date().getTime(), event: 'gtm.js'
				});
				var f                          = d.getElementsByTagName(s)[0],
						j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
				j.async = true;
				j.src =
					'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
				f.parentNode.insertBefore(j, f);
			}
		)(window, document, 'script', 'dataLayer', 'GTM-K5N7CS4');</script>
	{{/unless}}
</head>
<body>
{{#unless ENV_DEVELOPMENT}}
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K5N7CS4"
						height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
{{/unless}}
<a class="sr-only sr-only-focusable"
	 href="#content">{{__ "Skip to main content"}}</a>

<div class="container is-hidden-print">
	<nav class="navbar">
		<div class="navbar-brand">
			<a class="navbar-item has-text-weight-bold" href="/">
				{{#if profile}}
					{{profile.firstname}}&nbsp;{{profile.lastname}}
				{{else}}
					André Lademann
				{{/if}}
			</a>
			<a class="navbar-item is-hidden" href="https://github.com/vergissberlin" target="_blank">
				<span class="icon" style="color: #333;">
					<i class="fa fa-lg fa-github"></i>
				</span>
			</a>
			<a class="navbar-item is-hidden" href="https://plus.google.com/+AndréL" target="_blank">
				<span class="icon" style="color: #d34836;">
					<i class="fa fa-lg fa-google-plus"></i>
				</span>
			</a>
			<a class="navbar-item is-hidden" href="https://plus.google.com/+AndréL" target="_blank">
				<span class="icon has-text-grey-light">
					<i class="fa fa-lg fa-sign-in"></i>
				</span>
			</a>

			<div class="navbar-burger burger" data-target="navMenu">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>

		<div class="navbar-menu" id="navMenu">
			<div class="navbar-start">
				{{#if profile}}
				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link  is-active" href="/articles/">{{__ 'Articles'}}</a>
					<div class="navbar-dropdown ">
						<a class="navbar-item  is-active" href="/articles/state/published">
							{{{__ 'Published'}}}&nbsp;
							<span
								class="tag is-rounded"
								data-ajax="/articles/count/published">0</span>
						</a>
						<a class="navbar-item" href="/articles/state/draft">
							{{{__ 'Draft'}}}&nbsp;
							<span
								class="tag is-rounded"
								data-ajax="/articles/count/draft">0</span>
						</a>
						<a class="navbar-item" href="/articles/state/deleted">
							{{{__ 'Deleted'}}}&nbsp;
							<span
								class="tag is-rounded"
								data-ajax="/articles/count/deleted">0</span>
						</a>
						<hr class="navbar-divider">
						<a class="navbar-item" href="/articles/state/published">
							{{__ 'Articles'}}&nbsp;{{{__ 'Add'}}}&nbsp;
							<i class="fa fa-plus"></i>
						</a>
					</div>
				{{else}}
					<a class="navbar-item" href="/articles/">{{__ "Articles"}}</a>
				{{/if}}
				<a class="navbar-item" href="/about/">{{__ 'About'}}</a>
			</div>
			</div>

			<div class="navbar-end">
				<a class="navbar-item is-hidden-desktop" href="/articles/">{{__ "Articles"}}</a>
				<a class="navbar-item is-hidden-desktop" href="/about/">{{__ 'About'}}</a>
				<a class="navbar-item is-warning" href="https://github.com/vergissberlin/andrelademann-de"
					 target="_blank">
					<span class="icon" style="color: #333;">
						<i class="fa fa-lg fa-github"></i>
					</span>
					<span class="is-hidden-desktop">GitHub</span>
				</a>
				<a class="navbar-item" href="https://plus.google.com/+AndréL" target="_blank">
					<span class="icon" style="color: #d34836;">
						<i class="fa fa-lg fa-google-plus"></i>
					</span>
					<span class="is-hidden-desktop">Google+</span>
				</a>
				{{#if profile}}
					<a class="navbar-item title="{{__ 'Sign out'}}" href="/user/logout/">
					<span class="icon has-text-grey">
							<i class="fa fa-lg fa-sign-out" aria-hidden="true"></i>
						</span>
					<span class="is-hidden-desktop">{{__ 'Sign out'}}</span>
					</a>
				{{else}}
					<a class="navbar-item" title="{{__ 'Sign in'}}" href="/user/login/">
						<span class="icon has-text-grey-light">
							<i class="fa fa-lg fa-sign-in" aria-hidden="true"></i>
						</span>
						<span class="is-hidden-desktop">{{__ 'Sign in'}}</span>

					</a>
				{{/if}}
			</div>
		</div>
	</nav>
</div>

<main id="content">
	{{{body}}}
</main>

<footer class="footer">
	<div class="container">
		<nav class="level">
			<div class="level-left">
				<p class="level-item">
					&copy; André Lademann
				</p>
			</div>

			<div class="level-right">
				<p class="level-item">
					<a href="http://validator.w3.org/check?uri=referer"
						 class="button is-white">
						<i class="fa fa-html5" aria-hidden="true"></i>
						<span class="sr-only sr-only-focusable">Validate HTML</span>
					</a>
				</p>
				<p class="level-item">
					<a href="https://jigsaw.w3.org/css-validator/check/referer"
						 class="button is-white">
						<i class="fa fa-css3" aria-hidden="true"></i>
						<span class="sr-only sr-only-focusable">Validate CSS</span>
					</a>
				</p>
			</div>
		</nav>
	</div>
</footer>

{{#if profile}}
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"
					integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
					crossorigin="anonymous"></script>
	<script src="/js/profile{{#unless ENV_DEVELOPMENT}}.min{{/unless}}.js" async></script>
{{/if}}
<script src="/js/main{{#unless ENV_DEVELOPMENT}}.min{{/unless}}.js" async></script>
<script>(function e(t, n, r) {
	function o(a, l) {
		if (!n[a]) {
			if (!t[a]) {
				var f = typeof require == "function" && require;
				if (!l && f) return f(a, !0);
				if (i) return i(a, !0);
				var d = new Error("Cannot find module '" + a + "'");
				throw d.code = "MODULE_NOT_FOUND", d
			}
			var u = n[a] = {exports: {}};
			t[a][0].call(u.exports, function (e) {
				var n = t[a][1][e];
				return o(n ? n : e)
			}, u, u.exports, e, t, n, r)
		}
		return n[a].exports
	}

	var i = typeof require == "function" && require;
	for (var a = 0; a < r.length; a++) o(r[a]);
	return o
}
)({
	1: [function (e, t, n) {
		(function (e) {
			!function (e) {
				"use strict";
				var t = function (t, n, r) {
					function o(e) {
						if (l.body) return e();
						setTimeout(function () {
							o(e)
						})
					}

					function i() {
						f.addEventListener && f.removeEventListener("load", i), f.media = r || "all"
					}

					var a, l = e.document, f = l.createElement("link");
					if (n) a = n; else {
						var d = (l.body || l.getElementsByTagName("head")[0]
						).childNodes;
						a = d[d.length - 1]
					}
					var u = l.styleSheets;
					f.rel = "stylesheet", f.href = t, f.media = "only x", o(function () {
						a.parentNode.insertBefore(f, n ? a : a.nextSibling)
					});
					var s = function (e) {
						for (var t = f.href, n = u.length; n--;) if (u[n].href === t) return e();
						setTimeout(function () {
							s(e)
						})
					};
					return f.addEventListener && f.addEventListener("load", i), f.onloadcssdefined = s, s(i), f
				};
				"undefined" != typeof n ? n.loadCSS = t : e.loadCSS = t
			}("undefined" != typeof e ? e : this), function (e) {
				if (e.loadCSS) {
					var t = loadCSS.relpreload = {};
					if (t.support = function () {
							try {
								return e.document.createElement("link").relList.supports("preload")
							} catch (e) {
								return !1
							}
						}, t.poly = function () {
							for (var t = e.document.getElementsByTagName("link"), n = 0; n < t.length; n++) {
								var r = t[n];
								"preload" === r.rel && "style" === r.getAttribute("as") &&
								(e.loadCSS(r.href, r, r.getAttribute("media")), r.rel = null
								)
							}
						}, !t.support()) {
						t.poly();
						var n = e.setInterval(t.poly, 300);
						e.addEventListener && e.addEventListener("load", function () {
							t.poly(), e.clearInterval(n)
						}), e.attachEvent && e.attachEvent("onload", function () {
							e.clearInterval(n)
						})
					}
				}
			}(this)
		}
		).call(this, typeof global !== "undefined" ? global : typeof self !== "undefined" ? self : typeof window !==
		"undefined" ? window : {})
	}, {}]
}, {}, [1]);</script>
</body>
</html>
