<!doctype html>
<html lang="{{local}}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{title}}</title>
	<style data-replace="fonts"></style>
	<style data-replace="critical"></style>
	<style type="text/css">{{{config.styles.inlineStyles}}}</style>
	{{#if profile}}
		<link rel="stylesheet" href="/css/admin{{#unless ENV_DEVELOPMENT}}.min{{/unless}}.css">
	{{/if}}
	<link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/img/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	{{> async-css}}
	{{#if admin}}
		<meta name="robots" content="noindex">
	{{else}}
		<meta name="robots"
					content="{{#if robots.current}}index{{else}}noindex{{/if}}{{#if
						robots.follow}}, follow{{else}}, nofollow{{/if}}">
	{{/if}}
	<meta name="msapplication-TileColor" content="#fffff">
	<meta name="msapplication-TileImage" content="/img/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	{{#if meta.keywords}}
		<meta name="keywords" content="{{meta.keywords}}">
	{{/if}}
	{{#if meta.description}}
		<meta name="description" content="{{meta.description}}">
	{{/if}}
	{{> social/opengraph this}}
	{{> social/twitter this}}
	{{#unless ENV_DEVELOPMENT}}
		<script>(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({
					'gtm.start':
						new Date().getTime(), event: 'gtm.js'
				});
				var f                          = d.getElementsByTagName(s)[0],
						j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
				j.async = true;
				j.src =
					'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
				f.parentNode.insertBefore(j, f);
			}
		)(window, document, 'script', 'dataLayer', 'GTM-K5N7CS4');</script>
	{{/unless}}
	{{#if profile}}
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"
						integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
						crossorigin="anonymous"></script>
		<script src="/js/profile{{#unless ENV_DEVELOPMENT}}.min{{/unless}}.js"></script>
	{{/if}}
</head>
<body>
{{#unless ENV_DEVELOPMENT}}
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K5N7CS4"
						height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
{{/unless}}
<a class="sr-only sr-only-focusable"
	 href="#content">{{__ "Skip to main content"}}</a>

<div class="container is-hidden-print">
	<nav class="navbar">
		<div class="navbar-brand">
			<a class="navbar-item has-text-weight-bold" href="/">
				{{#if profile}}
					{{profile.firstname}}&nbsp;{{profile.lastname}}
				{{else}}
					André Lademann
				{{/if}}
			</a>
			<a class="navbar-item is-hidden" href="https://github.com/vergissberlin" target="_blank">
				<span class="icon" style="color: #333;">
					<i class="fa fa-lg fa-github"></i>
				</span>
			</a>
			<a class="navbar-item is-hidden" href="https://plus.google.com/+AndréL" target="_blank">
				<span class="icon" style="color: #d34836;">
					<i class="fa fa-lg fa-google-plus"></i>
				</span>
			</a>
			<a class="navbar-item is-hidden" href="https://plus.google.com/+AndréL" target="_blank">
				<span class="icon has-text-grey-light">
					<i class="fa fa-lg fa-sign-in"></i>
				</span>
			</a>

			<div class="navbar-burger burger" data-target="navMenu">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>

		<div class="navbar-menu" id="navMenu">
			<div class="navbar-start">
				{{#if profile}}
				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link  is-active" href="/articles/">{{__ 'Articles'}}</a>
					<div class="navbar-dropdown ">
						<a class="navbar-item  is-active" href="/articles/state/published">
							{{{__ 'Published'}}}&nbsp;
							<span
								class="tag is-rounded"
								data-ajax="/articles/count/published">0</span>
						</a>
						<a class="navbar-item" href="/articles/state/draft">
							{{{__ 'Draft'}}}&nbsp;
							<span
								class="tag is-rounded"
								data-ajax="/articles/count/draft">0</span>
						</a>
						<a class="navbar-item" href="/articles/state/deleted">
							{{{__ 'Deleted'}}}&nbsp;
							<span
								class="tag is-rounded"
								data-ajax="/articles/count/deleted">0</span>
						</a>
						<hr class="navbar-divider">
						<a class="navbar-item" href="/articles/add">
							{{__ 'Articles'}}&nbsp;{{{__ 'Add'}}}&nbsp;
							<i class="fa fa-plus"></i>
						</a>
					</div>
				{{else}}
					<a class="navbar-item" href="/articles/">{{__ "Articles"}}</a>
				{{/if}}
				<a class="navbar-item" href="/about/">{{__ 'About'}}</a>
			</div>
			</div>

			<div class="navbar-end">
				<a class="navbar-item is-hidden-desktop" href="/articles/">{{__ "Articles"}}</a>
				<a class="navbar-item is-hidden-desktop" href="/about/">{{__ 'About'}}</a>
				<a class="navbar-item is-warning" href="https://github.com/vergissberlin/andrelademann-de"
					 target="_blank">
					<span class="icon" style="color: #333;">
						<i class="fa fa-lg fa-github"></i>
					</span>
					<span class="is-hidden-desktop">GitHub</span>
				</a>
				<a class="navbar-item" href="https://plus.google.com/+AndréL" target="_blank">
					<span class="icon" style="color: #d34836;">
						<i class="fa fa-lg fa-google-plus"></i>
					</span>
					<span class="is-hidden-desktop">Google+</span>
				</a>
				{{#if profile}}
					<a class="navbar-item title="{{__ 'Sign out'}}" href="/user/logout/">
					<span class="icon has-text-grey">
							<i class="fa fa-lg fa-sign-out" aria-hidden="true"></i>
						</span>
					<span class="is-hidden-desktop">{{__ 'Sign out'}}</span>
					</a>
				{{else}}
					<a class="navbar-item" title="{{__ 'Sign in'}}" href="/user/login/">
						<span class="icon has-text-grey-light">
							<i class="fa fa-lg fa-sign-in" aria-hidden="true"></i>
						</span>
						<span class="is-hidden-desktop">{{__ 'Sign in'}}</span>
					</a>
				{{/if}}
			</div>
		</div>
	</nav>
</div>

<main id="content">
	{{{body}}}
</main>

<footer class="footer">
	<div class="container">
		<nav class="level">
			<div class="level-left">
				<p class="level-item">
					&copy; André Lademann
				</p>
			</div>

			<div class="level-right is-hidden-print">
				<p class="level-item">
					<a href="http://validator.w3.org/check?uri=referer"
						 class="button is-white">
						<i class="fa fa-html5" aria-hidden="true"></i>
						<span class="sr-only sr-only-focusable">Validate HTML</span>
					</a>
				</p>
				<p class="level-item">
					<a href="https://jigsaw.w3.org/css-validator/check/referer"
						 class="button is-white">
						<i class="fa fa-css3" aria-hidden="true"></i>
						<span class="sr-only sr-only-focusable">Validate CSS</span>
					</a>
				</p>
			</div>
		</nav>
	</div>
</footer>

<script src="/js/main{{#unless ENV_DEVELOPMENT}}.min{{/unless}}.js" async></script>
</body>
</html>
