<!doctype html>
<html lang="{{local}}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
	<title>{{title}}</title>
	{{#if profile}}
		<link rel="stylesheet" href="/css/admin{{#unless ENV_DEVELOPMENT}}.min{{/unless}}.css">
	{{/if}}
	<link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/img/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
				rel="stylesheet"
				integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
				crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i%7CQuestrial%7CArvo"
				rel="stylesheet">
	<link rel="stylesheet"
				href="/css/screen{{#unless ENV_DEVELOPMENT}}.min{{/unless}}.css"
				media="screen">
	<link rel="stylesheet"
				href="/css/print{{#unless ENV_DEVELOPMENT}}.min{{/unless}}.css"
				media="print">
	{{#if admin}}
		<meta name="robots" content="noindex">
	{{else}}
		<meta name="robots" content="{{#if robots.current}}index{{else}}noindex{{/if}}{{#if
			robots.follow}}, follow{{else}}, nofollow{{/if}}">
	{{/if}}
	<meta name="msapplication-TileColor" content="#fffff">
	<meta name="msapplication-TileImage" content="/img/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	{{#if meta.keywords}}
		<meta name="keywords" content="{{meta.keywords}}">
	{{/if}}
	{{#if meta.description}}
		<meta name="description" content="{{meta.description}}">
	{{/if}}
	{{> social/opengraph this}}
	{{> social/twitter this}}
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"
					integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
					crossorigin="anonymous"
					defer></script>
	{{#unless ENV_DEVELOPMENT}}
		<script>(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({
					'gtm.start':
						new Date().getTime(), event: 'gtm.js'
				});
				var f                          = d.getElementsByTagName(s)[0],
						j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
				j.async = true;
				j.src =
					'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
				f.parentNode.insertBefore(j, f);
			}
		)(window, document, 'script', 'dataLayer', 'GTM-K5N7CS4');</script>
	{{/unless}}
</head>
<body>
{{#unless ENV_DEVELOPMENT}}
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K5N7CS4"
						height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
{{/unless}}
<a class="sr-only sr-only-focusable"
	 href="#content">{{__ "Skip to main content"}}</a>
<div class="container">

	<nav class="navbar navbar-expand-lg navbar-light bg-light rounded d-print-none">
		<a class="navbar-brand" href="/">
			{{#if profile}}
				{{profile.firstname}}&nbsp;{{profile.lastname}}
			{{else}}
				André Lademann
			{{/if}}
		</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
						aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navigation">
			<ul class="navbar-nav mr-auto">

				{{#if profile}}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle"
							 href="/articles/state/published/"
							 id="navigation-article"
							 data-toggle="dropdown"
							 aria-haspopup="true"
							 aria-expanded="false">{{__ 'Articles'}}
						</a>
						<div class="dropdown-menu" aria-labelledby="navigation-article">
							<a class="dropdown-item"
								 href="/articles/state/published">
								{{{__ 'Published'}}}
								<span
									class="badge badge-pill badge-success pull-right"
									data-ajax="/articles/count/published">{{articleCounter.draft}}</span>
							</a>
							<a class="dropdown-item"
								 href="/articles/state/draft">
								{{{__ 'Draft'}}}
								<span
									class="badge badge-pill badge-warning pull-right"
									data-ajax="/articles/count/draft">99</span>
							</a>
							<a class="dropdown-item"
								 href="/articles/state/deleted">
								{{{__ 'Deleted'}}}
								<span
									class="badge badge-pill badge-danger pull-right"
									data-ajax="/articles/count/deleted">99</span>
							</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/articles/add">
								{{__ 'Articles'}} {{{__ 'Add'}}}
								<i class="fa fa-plus"></i>
							</a>
						</div>
					</li>
				{{else}}
					<li class="nav-item">
						<a class="nav-link"
							 href="/articles/">
							{{__ "Articles"}}</a>
					</li>
				{{/if}}

				<li class="nav-item">
					<a class="nav-link" href="/about/">{{__ 'About'}}</a>
				</li>

			</ul>

			<div class="form-inline my-2 my-md-0">
				{{#if profile}}
					<a class="btn btn-outline-primary btn-block" href="/user/logout/">
						<i class="fa fa-sign-out"
							 aria-hidden="true"></i> <span
						class="hidden-sm-down">&nbsp;{{__ 'Sign out'}}</span></a>
				{{else}}
					<a class="btn btn-outline-primary btn-block" href="/user/login/">
						<i class="fa fa-sign-in"
							 aria-hidden="true"></i> <span
						class="hidden-sm-down">&nbsp;{{__ 'Sign in'}}</span>
					</a>
				{{/if}}
			</div>
		</div>
	</nav>

	<main id="content">
		{{{body}}}
	</main>

</div>

<footer class="bg-light text-muted d-print-none">
	<div class="container pt-3 pt-md-5 pb-3 pb-md-5">
		<p class="float-right">
			<a href="http://validator.w3.org/check?uri=referer"
				 class="btn btn-md btn-default">
				<i class="fa fa-html5" aria-hidden="true"></i>
				<span class="sr-only sr-only-focusable">Validate HTML</span>
			</a>

			<a href="https://jigsaw.w3.org/css-validator/check/referer"
				 class="btn btn-md btn-default">
				<i class="fa fa-css3" aria-hidden="true"></i>
				<span class="sr-only sr-only-focusable">Validate CSS</span>
			</a>
		</p>
		&copy; André Lademann
	</div>
</footer>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
			rel="stylesheet"
			integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1"
			crossorigin="anonymous">
<link rel="alternate stylesheet"
			title="Dark Bootstrap"
			href="https://bootswatch.com/darkly/bootstrap.css">
{{#if profile}}
	<script src="/js/profile{{#unless ENV_DEVELOPMENT}}.min{{/unless}}.js" async defer></script>
{{/if}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
				integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
				crossorigin="anonymous"
				async
				defer></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
				integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
				crossorigin="anonymous"
				async
				defer></script>
</body>
</html>
