<!doctype html>
<html lang="{{local}}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{title}}</title>
	<style>.img-fluid {
		max-width: 100%;
		height: auto;
	}

	body {
		font-family: "Helvetica Neue", open-sans, Arial, sans-serif;
		font-weight: 100
	}</style>
	<style>.nav-link, nav {
		display: block
	}

	*, ::after, ::before {
		box-sizing: border-box
	}

	html {
		font-family: sans-serif;
		line-height: 1.15;
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
		-ms-overflow-style: scrollbar
	}

	@-ms-viewport {
		width: device-width
	}

	body {
		margin: 0;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		text-align: left;
		background-color: #fff
	}

	ul {
		margin-top: 0;
		margin-bottom: 1rem
	}

	a {
		color: #007bff;
		text-decoration: none;
		background-color: transparent;
		-webkit-text-decoration-skip: objects
	}

	a, button {
		touch-action: manipulation
	}

	button {
		margin: 0;
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
		overflow: visible;
		text-transform: none
	}

	button, html [type=button] {
		-webkit-appearance: button
	}

	[type=button]::-moz-focus-inner, button::-moz-focus-inner {
		padding: 0;
		border-style: none
	}

	::-webkit-file-upload-button {
		font: inherit;
		-webkit-appearance: button
	}

	.container {
		margin-right: auto;
		margin-left: auto;
		padding-right: 15px;
		padding-left: 15px;
		width: 100%
	}

	.nav-link, .navbar {
		padding: .5rem 1rem
	}

	.navbar {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between
	}

	.navbar-brand {
		display: inline-block;
		padding-top: .3125rem;
		padding-bottom: .3125rem;
		margin-right: 1rem;
		font-size: 1.25rem;
		line-height: inherit;
		white-space: nowrap
	}

	.navbar-nav {
		display: flex;
		flex-direction: column;
		padding-left: 0;
		margin-bottom: 0;
		list-style: none
	}

	.navbar-nav .nav-link {
		padding-right: 0;
		padding-left: 0
	}

	.navbar-collapse {
		flex-basis: 100%;
		align-items: center
	}

	.navbar-toggler {
		padding: .25rem .75rem;
		font-size: 1.25rem;
		line-height: 1;
		background: 0 0;
		border: 1px solid transparent;
		border-radius: .25rem
	}

	.navbar-toggler-icon {
		display: inline-block;
		width: 1.5em;
		height: 1.5em;
		vertical-align: middle;
		content: "";
		background: center center no-repeat;
		background-size: 100% 100%
	}

	.navbar-light .navbar-brand {
		color: rgba(0, 0, 0, .9)
	}

	.navbar-light .navbar-nav .nav-link {
		color: rgba(0, 0, 0, .5)
	}

	.navbar-light .navbar-toggler {
		color: rgba(0, 0, 0, .5);
		border-color: rgba(0, 0, 0, .1)
	}

	.navbar-light .navbar-toggler-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
	}

	.bg-light {
		background-color: #f8f9fa !important
	}

	.rounded {
		border-radius: .25rem !important
	}

	.sr-only {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		white-space: nowrap;
		clip-path: inset(50%);
		border: 0
	}

	.mr-auto {
		margin-right: auto !important
	}

	html {
		overflow-y: scroll
	}

	body {
		font-family: "Helvetica Neue", open-sans, Arial, sans-serif;
		color: #343a40
	}</style>

	{{#if profile}}
		<link rel="stylesheet" href="/css/admin{{#unless ENV_DEVELOPMENT}}.min{{/unless}}.css">
	{{/if}}
	<link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/img/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">

	<noscript>
		<link rel="stylesheet" href="/css/screen{{#unless ENV_DEVELOPMENT}}.min{{/unless}}.css" media="screen">
		<link rel="stylesheet" href="/css/print{{#unless ENV_DEVELOPMENT}}.min{{/unless}}.css" media="print">
	</noscript>
	<link rel="preload" href="/css/print{{#unless ENV_DEVELOPMENT}}.min{{/unless}}.css" media="print" as="style"
				onload="this.rel='stylesheet'">
	<link rel="preload" href="/css/screen{{#unless ENV_DEVELOPMENT}}.min{{/unless}}.css" media="screen" as="style"
				onload="this.rel='stylesheet'">
	{{#if admin}}
		<meta name="robots" content="noindex">
	{{else}}
		<meta name="robots" content="{{#if robots.current}}index{{else}}noindex{{/if}}{{#if
			robots.follow}}, follow{{else}}, nofollow{{/if}}">
	{{/if}}
	<meta name="msapplication-TileColor" content="#fffff">
	<meta name="msapplication-TileImage" content="/img/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	{{#if meta.keywords}}
		<meta name="keywords" content="{{meta.keywords}}">
	{{/if}}
	{{#if meta.description}}
		<meta name="description" content="{{meta.description}}">
	{{/if}}
	{{> social/opengraph this}}
	{{> social/twitter this}}

	{{#unless ENV_DEVELOPMENT}}
		<script>(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({
					'gtm.start':
						new Date().getTime(), event: 'gtm.js'
				});
				var f                          = d.getElementsByTagName(s)[0],
						j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
				j.async = true;
				j.src =
					'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
				f.parentNode.insertBefore(j, f);
			}
		)(window, document, 'script', 'dataLayer', 'GTM-K5N7CS4');</script>
	{{/unless}}
</head>
<body>
{{#unless ENV_DEVELOPMENT}}
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K5N7CS4"
						height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
{{/unless}}
<a class="sr-only sr-only-focusable"
	 href="#content">{{__ "Skip to main content"}}</a>
<div class="container">

	<nav class="navbar navbar-expand-lg navbar-light bg-light rounded d-print-none">
		<a class="navbar-brand" href="/">
			{{#if profile}}
				{{profile.firstname}}&nbsp;{{profile.lastname}}
			{{else}}
				André Lademann
			{{/if}}
		</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
						aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navigation">
			<ul class="navbar-nav mr-auto">

				{{#if profile}}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle"
							 href="/articles/state/published/"
							 id="navigation-article"
							 data-toggle="dropdown"
							 aria-haspopup="true"
							 aria-expanded="false">{{__ 'Articles'}}
						</a>
						<div class="dropdown-menu" aria-labelledby="navigation-article">
							<a class="dropdown-item"
								 href="/articles/state/published">
								{{{__ 'Published'}}}
								<span
									class="badge badge-pill badge-success pull-right"
									data-ajax="/articles/count/published">{{articleCounter.draft}}</span>
							</a>
							<a class="dropdown-item"
								 href="/articles/state/draft">
								{{{__ 'Draft'}}}
								<span
									class="badge badge-pill badge-warning pull-right"
									data-ajax="/articles/count/draft">99</span>
							</a>
							<a class="dropdown-item"
								 href="/articles/state/deleted">
								{{{__ 'Deleted'}}}
								<span
									class="badge badge-pill badge-danger pull-right"
									data-ajax="/articles/count/deleted">99</span>
							</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/articles/add">
								{{__ 'Articles'}} {{{__ 'Add'}}}
								<i class="fa fa-plus"></i>
							</a>
						</div>
					</li>
				{{else}}
					<li class="nav-item">
						<a class="nav-link"
							 href="/articles/">
							{{__ "Articles"}}</a>
					</li>
				{{/if}}

				<li class="nav-item">
					<a class="nav-link" href="/about/">{{__ 'About'}}</a>
				</li>

			</ul>

			<div class="form-inline my-2 my-md-0">
				{{#if profile}}
					<a class="btn btn-outline-primary btn-block" href="/user/logout/">
						<i class="fa fa-sign-out"
							 aria-hidden="true"></i> <span
						class="hidden-sm-down">&nbsp;{{__ 'Sign out'}}</span></a>
				{{else}}
					<a class="btn btn-outline-primary btn-block" href="/user/login/">
						<i class="fa fa-sign-in"
							 aria-hidden="true"></i> <span
						class="hidden-sm-down">&nbsp;{{__ 'Sign in'}}</span>
					</a>
				{{/if}}
			</div>
		</div>
	</nav>

	<main id="content">
		{{{body}}}
	</main>

</div>

<footer class="bg-light text-muted d-print-none">
	<div class="container pt-3 pt-md-5 pb-3 pb-md-5">
		<p class="float-right">
			<a href="http://validator.w3.org/check?uri=referer"
				 class="btn btn-md btn-default">
				<i class="fa fa-html5" aria-hidden="true"></i>
				<span class="sr-only sr-only-focusable">Validate HTML</span>
			</a>

			<a href="https://jigsaw.w3.org/css-validator/check/referer"
				 class="btn btn-md btn-default">
				<i class="fa fa-css3" aria-hidden="true"></i>
				<span class="sr-only sr-only-focusable">Validate CSS</span>
			</a>
		</p>
		&copy; André Lademann
	</div>
</footer>
<noscript class="lazyload">
	<link rel="alternate stylesheet"
				title="Dark Bootstrap"
				href="https://bootswatch.com/darkly/bootstrap.css">
</noscript>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
				integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
				crossorigin="anonymous"></script>
{{#if profile}}
	<script src="/js/profile{{#unless ENV_DEVELOPMENT}}.min{{/unless}}.js" async></script>
{{/if}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
				integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
				crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
				integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
				crossorigin="anonymous"
				async></script>
<script>!function (e) {
	"use strict";
	var t = function (t, n, r) {
		function o(e) {
			if (i.body) return e();
			setTimeout(function () {
				o(e)
			})
		}

		function a() {
			d.addEventListener && d.removeEventListener("load", a), d.media = r || "all"
		}

		var l, i = e.document, d = i.createElement("link");
		if (n) l = n; else {
			var s = (i.body || i.getElementsByTagName("head")[0]
			).childNodes;
			l = s[s.length - 1]
		}
		var u = i.styleSheets;
		d.rel = "stylesheet", d.href = t, d.media = "only x", o(function () {
			l.parentNode.insertBefore(d, n ? l : l.nextSibling)
		});
		var f = function (e) {
			for (var t = d.href, n = u.length; n--;) if (u[n].href === t) return e();
			setTimeout(function () {
				f(e)
			})
		};
		return d.addEventListener && d.addEventListener("load", a), d.onloadcssdefined = f, f(a), d
	};
	"undefined" != typeof exports ? exports.loadCSS = t : e.loadCSS = t
}("undefined" != typeof global ? global : this), function (e) {
	if (e.loadCSS) {
		var t = loadCSS.relpreload = {};
		if (t.support = function () {
				try {
					return e.document.createElement("link").relList.supports("preload")
				} catch (e) {
					return !1
				}
			}, t.poly = function () {
				for (var t = e.document.getElementsByTagName("link"), n = 0; n < t.length; n++) {
					var r = t[n];
					"preload" === r.rel && "style" === r.getAttribute("as") &&
					(e.loadCSS(r.href, r, r.getAttribute("media")), r.rel = null
					)
				}
			}, !t.support()) {
			t.poly();
			var n = e.setInterval(t.poly, 300);
			e.addEventListener && e.addEventListener("load", function () {
				t.poly(), e.clearInterval(n)
			}), e.attachEvent && e.attachEvent("onload", function () {
				e.clearInterval(n)
			})
		}
	}
}(this);</script>
</body>
</html>
