<!doctype html>
<html lang="{{local}}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>{{title}}</title>
    <style amp-boilerplate>body {
        -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
        -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
        -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
        animation: -amp-start 8s steps(1, end) 0s 1 normal both
    }

    @-webkit-keyframes -amp-start {
        from {
            visibility: hidden
        }
        to {
            visibility: visible
        }
    }

    @-moz-keyframes -amp-start {
        from {
            visibility: hidden
        }
        to {
            visibility: visible
        }
    }

    @-ms-keyframes -amp-start {
        from {
            visibility: hidden
        }
        to {
            visibility: visible
        }
    }

    @-o-keyframes -amp-start {
        from {
            visibility: hidden
        }
        to {
            visibility: visible
        }
    }

    @keyframes -amp-start {
        from {
            visibility: hidden
        }
        to {
            visibility: visible
        }
    }</style>
    <noscript>
        <style amp-boilerplate>body {
            -webkit-animation: none;
            -moz-animation: none;
            -ms-animation: none;
            animation: none
        }</style>
    </noscript>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i%7CQuestrial%7CArvo"
          rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css"
          integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="alternate stylesheet"
          title="Dark Bootstrap"
          href="https://bootswatch.com/darkly/bootstrap.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
          rel="stylesheet"
          integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1"
          crossorigin="anonymous">
    {{#if profile}}
        <link rel="stylesheet" href="/css/admin.css">
    {{/if}}
    {{#unless ENV_DEVELOPMENT}}
        <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/img/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
    {{/unless}}
    {{#if ENV_DEVELOPMENT}}
        <meta name="robots" content="noindex">
    {{else}}
        <script src="/js/vendor/mixpanel.js"></script>
        <script src="/js/vendor/getsocial.js"></script>
        <script>(function (w, d, s, l, i) {
                    w[l] = w[l] || [];
                    w[l].push({
                        'gtm.start': new Date().getTime(), event: 'gtm.js'
                    });
                    var f                          = d.getElementsByTagName(s)[0],
                        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
                    j.async = true;
                    j.src =
                            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                    f.parentNode.insertBefore(j, f);
                }
        )(window, document, 'script', 'dataLayer', 'GTM-K5N7CS4');</script>
        {{#if admin}}
            <meta name="robots" content="noindex">
        {{else}}
            <meta name="robots" content="{{#if robots.current}}index{{else}}noindex{{/if}}{{#if
                    robots.follow}}, follow{{else}}, nofollow{{/if}}">
        {{/if}}
    {{/if}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <meta http-equiv="Content-Language" content="{{local}}">
    <meta name="msapplication-TileColor" content="#fffff">
    <meta name="msapplication-TileImage" content="/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    {{#if meta.keywords}}
        <meta name="keywords" content="{{meta.keywords}}">
    {{/if}}
    {{#if meta.description}}
        <meta name="description" content="{{meta.description}}">
    {{/if}}
    {{> social/opengraph this}}
    {{> social/twitter this}}
</head>
<body>
{{#unless ENV_DEVELOPMENT}}
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K5N7CS4"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
{{/unless}}
<a class="sr-only sr-only-focusable"
   href="#content">{{__ "Skip to main content"}}</a>
<div class="container">
    <header class="header clearfix">
        <nav class="navbar navbar-light bg-faded">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="navbar-brand" href="/">
                        {{#if profile}}
                            {{profile.firstname}}&nbsp;{{profile.lastname}}
                        {{else}}
                            André Lademann
                        {{/if}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="/articles/{{#if profile}}state/published/{{/if}}">{{__ "Articles"}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about/">{{__ "About"}}</a>
                </li>
            </ul>

            <div class="form-inline pull-xs-right">
                {{#if profile}}
                    <a class="btn btn-outline-primary" href="/user/logout/">
                        <i class="fa fa-sign-out"
                           aria-hidden="true"></i> <span
                            class="hidden-sm-down">&nbsp;{{__ "Sign out"}}</span></a>
                {{else}}
                    <a class="btn btn-outline-primary" href="/user/login/">
                        <i class="fa fa-sign-in"
                           aria-hidden="true"></i> <span
                            class="hidden-sm-down">&nbsp;{{__ "Sign in"}}</span>
                    </a>
                {{/if}}
            </div>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer class="footer hidden-print">
        <div class="row">
            <div class="col-xs-6"><p>&copy; André Lademann</p></div>
            <div class="col-xs-6">
                <p class="text-xs-right">
                    <a href="http://validator.w3.org/check?uri=referer"
                       class="btn btn-md btn-default">
                        <i class="fa fa-html5" aria-hidden="true"></i>
                    </a>

                    <a href="https://jigsaw.w3.org/css-validator/check/referer"
                       class="btn btn-md btn-default">
                        <i class="fa fa-css3" aria-hidden="true"></i>
                    </a>
                </p>
            </div>
        </div>

    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.3/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU"
        crossorigin="anonymous"></script>
</body>
</html>
